<h1>Pages for sitemap - {{ sitemap }} and taskId - {{ taskid }}</h1>


{{#if list.length}}
 <ul>
    {{#each list}}
      <li>
        id: {{ id }}
        <br>
        url: {{ url }}
        <br>
        title: {{ title }}
        <br>
        h1: {{ h1 }}
        <br>
        description: {{ description }}
        <br>
        <a href="/seoparser/parsetags/{{ id }}">parse tags</a>
      </li>

      <hr>
    
    {{/each}}
  </ul>
{{/if}}
<a href="/seoparser/sitemaps/{{ taskid }}">go back to sitemaps</a>