<h1>Sitemap by task - {{ taskid }}</h1>

{{#if list.length}}
 <ul>
    {{#each list}}
      <li>
        id: {{ id }}
        <br>
        url: {{ url }}
        <br>
        lastmod: {{ lastmod }}
        <br>
        <button 
          class="button__parse-pages"
          data-url="{{ url }}"
          data-taskid="{{ taskid }}"
        >
          Parse pages
        </button>
        <br>
        <a href="/seoparser/renderpages?sitemap={{url}}&taskid={{taskid}}">view pages</a>
      </li>

      <hr>
    
    {{/each}}
  </ul>
{{/if}}
<a href="/seoparser/render">go back to seoparser</a>


<script>

  function parsePagesButtonHandleClick(evt) {

    const url = evt.target.dataset.url;
    const taskid = evt.target.dataset.taskid;


    console.log('click', url, taskid);

    const bodyparams = {
      url,
      taskid: Number(taskid)
    };

    fetch('/seoparser/parsepages', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify(bodyparams)
    })

  }

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.button__parse-pages').forEach((button) => {
      button.addEventListener('click', parsePagesButtonHandleClick);
    })
  })




</script>